@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
 
* {
    font-family: 'Sansita', serif; 
    font-weight: 400;
    box-sizing: border-box;
    margin: 0; 
}

@layer utilities {
    .hide-scrollbar {
      -ms-overflow-style: none; /* For Internet Explorer and Edge */
      scrollbar-width: none; /* For Firefox */
    }
  
    .hide-scrollbar::-webkit-scrollbar {
      display: none; /* Hides scrollbar for WebKit browsers */
    }
  }